.missionContainer {
  padding: 15px 20px;
}

.missionTable {
  border-collapse: collapse;
  margin: 40px auto;
}

.missionTable th {
  text-align: left;
  padding: 12px;
  border: 2px solid #dee2e6;
}

.missionTable td {
  padding: 12px;
  border: 2px solid #dee2e6;
}

.missionTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.missionTable button {
  min-width: 135px;
  background-color: transparent;
  color: #44494f;
  border-color: #4f5358;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.missionTable p {
  min-width: 120px;
  text-align: center;
  font-size: 15px;
  background: #6c757e;
  color: #fff;
  padding: 4px;
  border-radius: 5px;
}

.missionTable .leavePar {
  background: #1aa1b9;
  color: #fff;
}

.missionTable .leave {
  background-color: transparent;
  color: #e55e69;
  border-color: #e55e69;
  cursor: pointer;
}

/* ---- Reserved Mission Section ---- */

.profile-mission-section {
  width: 31%;
}

.no-reserved-mission {
  padding: 25px;
  font-weight: 400;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}

.profile-mission-header {
  margin-bottom: 10px;
  font-weight: 500;
}

.reserved-mission-list {
  list-style: none;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
}

.profile-mission-item {
  padding: 25px;
  border-bottom: 1px solid #dfdfdf;
}

.profile-mission-item:last-child {
  border-bottom: none;
}
